@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    /* background-color: black;
    opacity: 1;
    z-index: -1; */
}

body::after{
    background:rgba(0, 0, 0, 0.87);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
  }

.short-intro{
    font-size: x-large;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    display: flex;
}
.contact-left{
    flex-basis:60%;
    padding: 40px 60px;
    background: rgba(255, 255, 255, 0.24);
}
.contact-right{
    flex-basis:40%;
    padding: 40px;
    background: rgba(250, 91, 70, 0.315);
    color: white;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: rgb(250, 91, 70);
}
button{
    background: rgb(250, 91, 70);
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius:30px ;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
button:hover{
    background-color:rgb(221, 33, 8) ;
    cursor: pointer;
}
.contact-left h3{
    color:rgba(250, 91, 70,) ;
    font-weight:600 ;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight:600 ;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td:first-child{
    padding-top: 10px;
}







@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-image: url(./img/a.jpg); 
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
li,a{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(177, 30, 30);
    text-decoration: none;
}
header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 5%;  
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_list{
    list-style: none;
}
.nav_list li{
    display: inline-block;
    padding: 0px 20px;

}
.nav_list li a{
    transition: all 0.3s ease 0s;
}
.nav_list li a:hover{
    color: white;
}

.footer{
    color: white;
}
.list{
    display: flex;
    width: 230px;
    padding-left: 5px;
    list-style: none;
    justify-content: space-between;
}
.place, .mobile, .email{
    display: flex;
}
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.main-footer{
    display: flex;
    height: 180px;
    margin: 3px;
}
.center-box{
    padding-left: 20px;
    padding-right: 20px;
}


